@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}

/* flex */
.flexContainer {
  display: flex;
}

/* positioning */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

